<h3>Registro en plataforma DAEM TALCA - CV {{username}}</h3>

Ustede fue registrado como Asistenten en la plataforma DAEM TALCA -CV
<hr>
Puedes acceder <b><a href="{{ url('fos_user_security_login') }}">Aquí</a></b> con los siguientes datos:
<ul>
  <li>Nombre de usuario: {{username}}</li>
  <li>Contraseña: {{password}}</li>
</ul>
<hr>
Saludos
