{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="div-form">
      <div class="panel panel-default">
        <div class="panel-body">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
        <br>
        <p>Puede ingresar a nuestro sitio a través de este Link</p>
        <a class="btn btn-default" href="{{path('fos_user_security_login')}}">Ingresar</a>
        </div>
      </div>
    </div>
{% endblock fos_user_content %}
