<html>
<head>
<title>Hola - Hi - Welcome</title>
<meta name="description" content="Landing page for the platform">
<meta name="mmoscosod" content="landing page">
<link rel="icon" href="{{asset('images/favico.png')}}">
<link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1>Hi, Hola, Welcome</h1>
        <h2>This page can be replaced for the official landing page</h2>
        <a class="btn btn-default" href="{{path('fos_user_security_login')}}">Ingresar|Log in</a>
      </div>
    <div class="col-md-4"></div>
  </div>
</body>
</html>
