{% extends "ResumeBundle:Default:panel-backend.html.twig" %}

{% block maincontent %}
<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Asignaciones</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
    <b>El módulo debe ser personalizado</b>
    </div>
</div>


{% endblock %}
