{% extends "ResumeBundle:Default:panel-backend.html.twig" %}

{% block csspage %}
{% endblock%}

{% block maincontent %}
<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">Asistentes</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Nuevo Asistente</div>
        <div class="panel-body">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
    </div>

  </div>
{% endblock %}


{% block scriptpage %}
<script src="{{asset('js/bootstrap-datepicker.js')}}"></script>
<script src="{{asset('js/bootstrap-datepicker.es.min.js')}}"></script>
<script type="text/javascript">
$(function () {
  $('#job_startjob').datepicker({
    language: 'es'
  });
  $('#job_endjob').datepicker({
    language: 'es'
  });
});
</script>
</script>
{% endblock%}
